.container {
    display: flex;
    gap: 20px;
    padding: 10px;
  }
  
  .image {
    max-width: 30vw;
    max-height: 60vh;
  }
  
  .info {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }