.form {
    padding: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .input {
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: 1px solid gray;
  }
  
  .input::placeholder {
    font-size: 14px;
  }
  
  .sendBtn {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
  }
  
  .input:hover,
  .input:focus,
  .input:active,
  .sendBtn:hover,
  .sendBtn:focus,
  .sendBtn:active {
    border-color: orange;
    color: #8b5b00;
  }