.container {
    padding: 16px;
  }
  
  .link {
    display: flex;
    gap: 5px;
    font-size: 15px;
    align-items: center;
  }
  
  .text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }